<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{'Futurizr': {'hasTouch': 'touch'}}">
  <head>
    <meta charset="utf-8">
    <link href="../static/css/main.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Progress &amp; activity - Components - Material design guidelines</title>
    <meta itemprop="name" content="Progress &amp; activity - Components - Material design guidelines">
    <meta itemprop="image" content="https://storage.googleapis.com/material-design/publish/material_v_10/share.png">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Progress &amp; activity - Components - Material design guidelines">
    <meta itemprop="image" content="https://storage.googleapis.com/material-design/publish/material_v_10/share.png">
    <meta property="og:site_name" content="Material design guidelines">
    <meta property="article:section" content="Progress &amp; activity - Components">
    <meta name="theme-color" content="#3949AB">
    <link rel="icon" sizes="192x192" href="https://storage.googleapis.com/material-design/publish/material_v_10/guidelines-icon-192x192.png">
    <link rel="shortcut icon" href="https://storage.googleapis.com/material-design/publish/material_v_10/guidelines-icon-72x72.png">
    <link rel="apple-touch-icon" href="https://storage.googleapis.com/material-design/publish/material_v_10/guidelines-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://storage.googleapis.com/material-design/publish/material_v_10/guidelines-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://storage.googleapis.com/material-design/publish/material_v_10/guidelines-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/material-design/publish/material_v_10/guidelines-icon-180x180.png">
    <meta name="msapplication-TileImage" content="https://storage.googleapis.com/material-design/publish/material_v_10/guidelines-icon-144x144.png">
    <meta name="msapplication-tap-highlight" content="no">
    
<!--
<PageMap>
    <DataObject type="document">
      <Attribute name="uid"></Attribute>
      <Attribute name="title">Progress &amp; activity</Attribute>
      <Attribute name="keywords"></Attribute>
      <Attribute name="slug"></Attribute>
      <Attribute name="description"></Attribute>
      <Attribute name="section_title">Components</Attribute>
      <Attribute name="section_slug">components</Attribute>
    </DataObject>
    <DataObject type="thumbnail">
      <Attribute name="src" value="" />
    </DataObject>
</PageMap>
-->
  </head>

  
  
    
  

  <body class="site-material_ext_publish section-material-design noninitial-chapter color-indigo qp-ui" data-qp-ui="{ 'Mask': {} }">
    
    <!-- Google Tag Manager -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHRPF8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NHRPF8');</script>
    <!-- End Google Tag Manager -->
    

    

      <header>
        <div class="header-wrapper">
          <div class="header-title">
            
              <span class="section-title">Components</span>
              <span class="chapter-title">
                <span class="title-separator">–</span> Progress &amp; activity
              </span>
            
          </div>
        </div>
      </header>

    

    <nav>
      <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">
        <i class="material-icons material-spec-icon" title="Show navigation">menu</i>
      </button>
    </nav>

    
      <form id="search-form" action="https://material.io/guidelines/search.html" method="GET">
        <div class="search-widget qp-ui" data-qp-ui="{ 'SearchInput': {} }">
          <button class="search-button"><i class="material-icons">search</i></button>
          <button class="search-close-button"><i class="material-icons">close</i></button>
          <input name="q" type="text" id="search-input" autocomplete="off">
          <label for="search-input">Search</label>
        </div>
      </form>
    

    

    

    

    
    
    <div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
      <div class="side-nav-wrapper ">
        <div>
          <span id="logo"><a href="https://material.io/"><img src="../static/images/material-design.svg" alt="Logo"/></a></span>
          <nav>
            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Material design</dt>
                <dd>
                  
                    <a  href="../material-design/introduction.html">Introduction </a>
                  
                    <a  href="../material-design/environment.html">Environment</a>
                  
                    <a  href="../what-is-material/material-properties.html">Material properties</a>
                  
                    <a  href="../what-is-material/elevation-shadows.html">Elevation &amp; shadows</a>
                  
                    <a  href="../material-design/whats-new.html">What’s new</a>
                  
                </dd>
              </dl>

            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Motion</dt>
                <dd>
                  
                    <a  href="../animation/authentic-motion.html">Material motion</a>
                  
                    <a  href="../motion/duration-easing.html">Duration &amp; easing</a>
                  
                    <a  href="../motion/movement.html"> Movement</a>
                  
                    <a  href="../motion/transforming-material.html">Transforming material</a>
                  
                    <a  href="../motion/choreography.html">Choreography</a>
                  
                    <a  href="../motion/creative-customization.html">Creative customization</a>
                  
                </dd>
              </dl>

            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Style</dt>
                <dd>
                  
                    <a  href="../style/color.html">Color</a>
                  
                    <a  href="../style/icons.html">Icons</a>
                  
                    <a  href="../style/imagery.html">Imagery</a>
                  
                    <a  href="../style/typography.html">Typography</a>
                  
                    <a  href="../style/writing.html">Writing</a>
                  
                </dd>
              </dl>

            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Layout</dt>
                <dd>
                  
                    <a  href="../layout/principles.html">Principles</a>
                  
                    <a  href="../layout/units-measurements.html">Units &amp; measurements</a>
                  
                    <a  href="../layout/metrics-keylines.html">Metrics &amp; keylines</a>
                  
                    <a  href="../layout/structure.html">Structure</a>
                  
                    <a  href="../layout/adaptive-ui.html">Responsive UI</a>
                  
                    <a  href="../layout/split-screen.html">Split screen</a>
                  
                </dd>
              </dl>

            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">Components</dt>
                <dd>
                  
                    <a  href="bottom-navigation.html">Bottom navigation</a>
                  
                    <a  href="bottom-sheets.html">Bottom sheets</a>
                  
                    <a  href="buttons.html">Buttons</a>
                  
                    <a  href="buttons-floating-action-button.html">Buttons: Floating Action Button</a>
                  
                    <a  href="cards.html">Cards</a>
                  
                    <a  href="chips.html">Chips</a>
                  
                    <a  href="data-tables.html">Data tables</a>
                  
                    <a  href="dialogs.html">Dialogs</a>
                  
                    <a  href="dividers.html">Dividers</a>
                  
                    <a  href="expansion-panels.html">Expansion panels</a>
                  
                    <a  href="grid-lists.html">Grid lists</a>
                  
                    <a  href="lists.html">Lists</a>
                  
                    <a  href="lists-controls.html">Lists: Controls</a>
                  
                    <a  href="menus.html">Menus</a>
                  
                    <a  href="pickers.html">Pickers</a>
                  
                    <a class="nav_selected" href="progress-activity.html">Progress &amp; activity</a>
                  
                    <a  href="selection-controls.html">Selection controls</a>
                  
                    <a  href="sliders.html">Sliders</a>
                  
                    <a  href="snackbars-toasts.html">Snackbars &amp; toasts</a>
                  
                    <a  href="steppers.html">Steppers</a>
                  
                    <a  href="subheaders.html">Subheaders</a>
                  
                    <a  href="tabs.html">Tabs</a>
                  
                    <a  href="text-fields.html">Text fields</a>
                  
                    <a  href="toolbars.html">Toolbars</a>
                  
                    <a  href="tooltips.html">Tooltips</a>
                  
                    <a  href="widgets.html">Widgets</a>
                  
                </dd>
              </dl>

            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns</dt>
                <dd>
                  
                    <a  href="../patterns/confirmation-acknowledgement.html">Confirmation &amp; acknowledgement</a>
                  
                    <a  href="../patterns/data-formats.html">Data formats</a>
                  
                    <a  href="../patterns/empty-states.html">Empty states</a>
                  
                    <a  href="../patterns/errors.html">Errors</a>
                  
                    <a  href="../patterns/fingerprint.html">Fingerprint</a>
                  
                    <a  href="../patterns/gestures.html">Gestures </a>
                  
                    <a  href="../patterns/help-feedback.html">Help &amp; feedback</a>
                  
                    <a  href="../patterns/launch-screens.html">Launch screens</a>
                  
                    <a  href="../patterns/loading-images.html">Loading images</a>
                  
                    <a  href="../patterns/app-structure.html">Navigation</a>
                  
                    <a  href="../patterns/navigation-drawer.html">Navigation drawer</a>
                  
                    <a  href="../patterns/navigational-transitions.html">Navigational transitions</a>
                  
                    <a  href="../patterns/notifications.html">Notifications</a>
                  
                    <a  href="../patterns/permissions.html">Permissions</a>
                  
                    <a  href="../patterns/scrolling-techniques.html">Scrolling techniques</a>
                  
                    <a  href="../patterns/search.html">Search </a>
                  
                    <a  href="../patterns/selection.html">Selection </a>
                  
                    <a  href="../patterns/settings.html">Settings </a>
                  
                    <a  href="../patterns/swipe-to-refresh.html">Swipe to refresh</a>
                  
                </dd>
              </dl>

            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Growth &amp; communications</dt>
                <dd>
                  
                    <a  href="../growth-communications/introduction.html">Introduction</a>
                  
                    <a  href="../growth-communications/onboarding.html">Onboarding</a>
                  
                    <a  href="../growth-communications/feature-discovery.html">Feature discovery</a>
                  
                    <a  href="../growth-communications/gesture-education.html">Gesture education</a>
                  
                </dd>
              </dl>

            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability</dt>
                <dd>
                  
                    <a  href="../usability/accessibility.html">Accessibility</a>
                  
                    <a  href="../usability/bidirectionality.html">Bidirectionality</a>
                  
                </dd>
              </dl>

            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Platforms </dt>
                <dd>
                  
                    <a  href="../platforms/platform-adaptation.html">Platform adaptation</a>
                  
                    <a  href="../platforms/android.html">Android</a>
                  
                </dd>
              </dl>

            

              
                
              

              <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
                <dd>
                  
                    <a  href="../resources/color-palettes.html">Color palettes</a>
                  
                    <a  href="../resources/devices.html">Devices</a>
                  
                    <a  href="../resources/layout-templates.html">Layout templates</a>
                  
                    <a  href="../resources/roboto-noto-fonts.html">Roboto &amp; Noto fonts</a>
                  
                    <a  href="../resources/sticker-sheets-icons.html">Sticker sheets &amp; icons</a>
                  
                </dd>
              </dl>

            
          </nav>


          
          <div class="legal">
            <p class="copyright">Google &copy;</p>
            <ul>
              
              <li>
                <a href="javascript:void(0);" onclick="try{userfeedback.api.startFeedback({'productId': '1027542', 'bucket': 'material_spec', 'locale': 'en', 'allowNonLoggedInFeedback': true});return false;}catch(e){}" class="qp-ui-side-nav-dismiss">Site feedback</a>
              </li>
              
              <li>
                <a href="http://www.google.com/policies/privacy/">Privacy</a>
              </li>
              <li>
                <a href="http://www.google.com/policies/terms/">Terms</a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>

      

    </div>

    <div id="grid-cont">
      <section class="grid_outer chapter">
        
        <h1 class="chapter-title">Progress &amp; activity
          
          
          
          
          
        </h1>
        <div class="chapter-content">

          <div class="article-content chapter-intro">
            <div><p>Progress and activity indicators are visual indications of an app loading content.</p><div class="col-list"><section class="module-module-figure col-3"><div class="module"><p>A single visual indicator should be used to represent each type of operation. For example, a refresh operation should display either a refresh bar or an activity circle, but not both.</p><p><strong>Determinate indicators</strong> display how long an operation will take. </p><p><strong>Indeterminate indicators</strong> visualize an unspecified wait time.</p></div><div class="module"><h3><strong>Types</strong></h3><p>Linear<br>
Circular</p><h3><strong>Behavior</strong></h3><p>Loading content in phases<br>
Loading additional content</p></div><div class="figure"><figure class="s-tag-media"><div class="media"><img alt="" src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B7WCemMG6e0VWkJiRjRLbzRNS3M/components_progress_and_activity.png"/></div></figure></div></section></div></div>
          </div>

          
          <nav class="chapter-toc">
            <h1>Contents</h1>
            <ul>
              
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="progress-activity.html#progress-activity-types-of-indicators" data-qp-ui-data-id="qp:1">Types of indicators</a></li>
              
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="progress-activity.html#progress-activity-behavior" data-qp-ui-data-id="qp:2">Behavior</a></li>
              
            </ul>
          </nav>

          <div class="article-list">
            
              <div id="progress-activity-types-of-indicators" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
                <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  Types of indicators
                  
                  
                  
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
                    <title>Expand and collapse content</title>
                    <desc>An arrow that points down when collapsed and points up when expanded.</desc>
                    <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"></polygon>
                  </svg>
                </h2>
                <div class="article-content">
                  <div><p>When indicators are<strong> determinate </strong>they<strong> </strong>indicate how long an operation will take when the percentage complete is detectable.</p><p>When indicators are <strong>indeterminate </strong>they<strong> </strong>request that the user wait while something finishes when it’s not necessary to indicate how long it will take.</p><p>Both linear and circular progress indicators may be either determinate or indeterminate.</p><div class="col-list"><section class="module-figure col-2"><div class="module"><h1>Linear</h1><p>A linear progress indicator should always fill from 0% to 100% and never decrease in value. It should be represented by bars on the edge of a header or sheet that appear and disappear. </p><p>For <strong>multiple operations</strong> happening in sequence, use the indicator to represent the progress as a whole, and not each individual operation. </p></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B0NGgBg38lWWYmNmallST001a1k/components-progressactivity-typesofindicators-061101_Linear_Sheet_xhdpi_003.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B0NGgBg38lWWVXBBVF9qR3E4a2s/components-progressactivity-typesofindicators-061101_Linear_Sheet_xhdpi_003.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Linear progress indicators</p></figcaption></figure></div></section></div><div class="col-list"><section class="module-figure-figure col-3"><div class="module">
</div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsb3dWdHJJT0FlTDA/components-progressactivity-typesofindicators-Linear_Video_xhdpi_004.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsVEl2TUc3ZjBmMDA/components-progressactivity-typesofindicators-Linear_Video_xhdpi_004.mp4" type="video/mp4">
</source></source></video>
</div>
</div></figure> <p>Buffering progress indicator on a video</p><p> </p></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsdWhCc1diNlEtR2M/components-progressactivity-typesofindicators-Linear_Image_xhdpi_004.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsanA2bGpzb1BxZDQ/components-progressactivity-typesofindicators-Linear_Image_xhdpi_004.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Query indicator on a webpage</p></figcaption></figure></div></section></div><div class="col-list"><section class="module-figure col-2"><div class="module"><h1>Circular</h1></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B14F_FSUCc01N2kzc1hlaFR5WlU/061101_Circular_Sheet_xhdpi_005.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B14F_FSUCc01dkwzSzlwa3ZvbUU/061101_Circular_Sheet_xhdpi_005.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Circular indeterminate and determinate progress indicators</p></figcaption></figure></div></section></div><div class="col-list"><section class="module-figure-figure col-3"><div class="module"><h2><strong><strong>Circular with integration</strong></strong></h2></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B0NGgBg38lWWbTlSaHdQZEMtalk/components-progressactivity-typesofindicators-061101_Circular_Aspirational_xhdpi_002.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B0NGgBg38lWWaVpNbk1SV3dSbXc/components-progressactivity-typesofindicators-061101_Circular_Aspirational_xhdpi_002.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>A circular loader may be integrated with a floating action button. </p></figcaption></figure></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsa0QwVnd6NVlvWkk/components-progressactivity-typesofindicators-Circular_wFab_xhdpi_003.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsdk1oMG9KY2pCcms/components-progressactivity-typesofindicators-Circular_wFab_xhdpi_003.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Animation of a circular loader with integration</p></figcaption></figure></div></section></div></div>
                </div>
              </div>
            
              <div id="progress-activity-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
                <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  Behavior
                  
                  
                  
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
                    <title>Expand and collapse content</title>
                    <desc>An arrow that points down when collapsed and points up when expanded.</desc>
                    <polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"></polygon>
                  </svg>
                </h2>
                <div class="article-content">
                  <div><div class="col-list"><section class="module-figure-figure col-3"><div class="module"><p>Loading in phases</p></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsSVRKbHd1MTlJZUU/components-progressactivity-behavior_Loading_SwipeDown_xhdpi_005-.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsZ0V1QXpxOVdsTXM/components-progressactivity-behavior_Loading_SwipeDown_xhdpi_005-.mp4" type="video/mp4">
</source></source></video>
</div>
</div></figure> <p><figcaption>One-phased loads</figcaption></p><p>Ink (copy and images) loads within an existing, unchanging container. </p></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsXzgyazF5OENaS2M/components-progressactivity-behavior-Loading_Photos_xhdpi_004.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsT3JTb0lnZWF0MWc/components-progressactivity-behavior-Loading_Photos_xhdpi_004.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Two-phased loads</p><p>The paper container is generated, then the ink (copy and images) load within it. </p></figcaption></figure></div></section><section class="module-figure-figure col-3"><div class="module">
</div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsWllNSThPRUtqTzQ/components-progressactivity-behavior-Loading_Files_Linear_xhdpi_003.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsX2x1eFRUSF9QbW8/components-progressactivity-behavior-Loading_Files_Linear_xhdpi_003.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Loading content for the first time</p></figcaption></figure></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsQkFTSm13bUFLX00/components-progressactivity-behavior-Loading_Files_Circular_xhdpi_003.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsbjk2UFZsOGNENkE/components-progressactivity-behavior-Loading_Files_Circular_xhdpi_003.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Load and display all content at once.</p></figcaption></figure></div></section></div><div class="col-list"><section class="module-figure col-2"><div class="module"><p><strong>Loading additional content</strong></p></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsTWRhdFc1bFBxTHc/components-progressactivity-behavior-Loading_BigTop_xhdpi_004.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsMTRCQU5OZG55TjA/components-progressactivity-behavior-Loading_BigTop_xhdpi_004.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Example 1: Card expansion</p><p>An indeterminate linear indicator is recommended for a card expanding on larger surfaces such as desktop.</p></figcaption></figure></div></section></div><div class="col-list"><section class="module-figure-figure col-3"><div class="module">
</div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsXzgyazF5OENaS2M/components-progressactivity-behavior-Loading_Photos_xhdpi_004.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsT3JTb0lnZWF0MWc/components-progressactivity-behavior-Loading_Photos_xhdpi_004.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Example 2: Scroll up to load more</p><p>An indeterminate circular indicator with an initial radial ink reaction is recommended when loading a list from below.</p></figcaption></figure></div><div class="figure"><figure class="s-tag-media"><div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video controls="" loop="" preload="metadata">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsVXBhbk9SbVBVMms/components-progress-activity-behavior_Loading_SwipeDown_noload_xhdpi_005.webm" type="video/webm">
<source src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B6Okdz75tqQsUll5cm5abmc4Yk0/components-progress-activity-behavior_Loading_SwipeDown_noload_xhdpi_005.mp4" type="video/mp4">
</source></source></video>
</div>
</div><figcaption><p>Example 3: Swipe down to refresh</p><p>An indeterminate circular indicator with a radial ink reaction is recommended when refreshing a list from above.</p></figcaption></figure></div></section></div></div>
                </div>
              </div>
            
          <div>
          

        </div>
        
      </section>
    </div>

    
      <footer>
        <div class="footer-grid">
          
          <div class="footer-L section-material-design color-indigo">&nbsp;</div>
          <div class="footer-grid-L section-material-design color-indigo">
            
            <a class="footer-text" href="pickers.html">
              <i class="material-icons arrow-L" aria-hidden="true">arrow_back</i>
              <span class="direction">Previous</span><span class="screen-reader">:</span>
              <div>
                Pickers
              </div>
            </a>
            
          </div>

          
          <div class="footer-R section-what-is-material color-indigo">&nbsp;</div>
          <div class="footer-grid-R section-what-is-material color-indigo">
            
            <a class="footer-text" href="selection-controls.html">
              <i class="material-icons arrow-R" aria-hidden="true">arrow_forward</i>
              <span class="direction">Next</span><span class="screen-reader">:</span>
              <div>
                Selection controls
              </div>
            </a>
            
          </div>

        </div>
      </footer>
    

    <script src="https://www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
    <script src="../static/js/main.min.js"></script>
    
    
    
    <script src="https://www.gstatic.com/feedback/api.js"></script>
    

  </body>
</html>